<%= layout('layouts/boilerplate') %>
<h1 class="text-4xl">ALL Campgrounds</h1>
<a class="text-2xl" href="/campgrounds/new">add new campgrounds</a>
<ul>
  <% for (let campground of campgrounds) { %>
  <li>
    <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
  </li>
  <% } %>
</ul>
